<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:rabbit="http://www.springframework.org/schema/rabbit"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        https://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/rabbit
        http://www.springframework.org/schema/rabbit/spring-rabbit-2.0.xsd">


    <context:component-scan base-package="com.whb"/>
    <context:property-placeholder location="classpath:rabbitmq.properties" file-encoding="UTF-8" ignore-unresolvable="true"/>
    <!-- rabbitmq配置 -->
    <bean id="rabbitConnectionFactory" class="org.springframework.amqp.rabbit.connection.CachingConnectionFactory">
        <constructor-arg value="localhost" />
        <property name="username" value="guest" />
        <property name="password" value="guest" />
        <property name="channelCacheSize" value="8" />
        <property name="port" value="5672"/>
    </bean>
    <!-- spring 的 rabbit-admin -->
    <rabbit:admin connection-factory="rabbitConnectionFactory" />
    <!-- 生产者创建队列 -->
    <rabbit:queue id="queue_4" durable="false" />

    <!-- fanout 交换器-->
    <rabbit:fanout-exchange name="fanout-exchange"
            xmlns="http://www.springframework.org/schema/rabbit"
                            durable="false" >
        <bindings>
            <binding queue="queue_4"></binding>
        </bindings>
    </rabbit:fanout-exchange>

    <!-- topic 交换器-->
    <rabbit:topic-exchange name="topic-exchange"
                           xmlns="http://www.springframework.org/schema/rabbit"
                           durable="false" >
    </rabbit:topic-exchange>


    <bean id="rabbitTemplate" class="org.springframework.amqp.rabbit.core.RabbitTemplate">
        <constructor-arg ref="rabbitConnectionFactory" />
    </bean>
</beans>